.aboutIntro-img{
    width: 100vw;
    height: 40rem;
    position: relative;
    filter: brightness(90%);
}
.aboutIntro-content{
    position: absolute;
    top: 16rem;
    left: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutIntro-content-1{
    font-weight: 600;
    font-size: 58px;
    text-align: center;
    color: #ffff;
}
.aboutIntro-content-2{
    font-size: 45px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
    color: #ffff;
    letter-spacing: 10px;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.aboutIntro-con{
    background-color: aliceblue;
    padding: 0px 0px 100px 0px;
}
.aboutIntro-div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutIntro-words{
    text-align: center;
    width: 60vw;
    font-size: 22px;
    margin-top: 100px;
}
.aboutIntro-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.mission-con{
    width: 85vw;
}
.mission-title{
    margin-left: 100px;
    color: darkblue;
}
.mission-icon{
    color: rgb(48, 48, 48);
    padding-left: 20px;
    margin-bottom: 17px;
    font-size: 70px;
}
.mission{
    border: 3px;
    border-radius: 100px;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
    box-Shadow: 5px 10px 10px #8888;
    background-color:  rgb(182, 216, 245);
}
.mission-words{
    width: 90%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


@media (max-width: 768px) {
    .aboutIntro-img{
        width: 100vw;
        height: 26rem;
        position: relative;
        filter: brightness(90%);
    }
    .aboutIntro-content{
        position: absolute;
        top: 9.5rem;
        left: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutIntro-content-1{
        font-weight: 600;
        font-size: 33px;
        text-align: center;
        color: #ffff;
    }
    .aboutIntro-content-2{
        font-size: 28px;
        font-weight: 700;
        padding-top: 20px;
        text-align: center;
        color: #ffff;
        letter-spacing: 5px;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    .aboutIntro-con{
        background-color: aliceblue;
        padding: 0px 0px 70px 0px;
    }
    .aboutIntro-div-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutIntro-title{
        color: #ffff;
        background-color: darkblue;
        padding: 10px 40px;
        border-radius: 50px;
        box-Shadow: 5px 10px 10px #8888;
        font-size: 17px;
        margin-bottom: 10px;
    }
    .aboutIntro-words{
        text-align: center;
        width: 70vw;
        font-size: 16px;
    }
    .aboutIntro-div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    .mission-con{
        width: 85vw;
    }
    .mission-title{
        margin-left: 100px;
        font-size: 19px;
        color: darkblue;
    }
    .mission-icon{
        color: rgb(48, 48, 48);
        padding-left: 20px;
        margin-bottom: 9px;
        font-size: 45px;
    }
    .mission{
        border: 3px;
        border-radius: 100px;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: -20px;
        box-Shadow: 5px 10px 10px #8888;
        padding-top: 15px;
        background-color:  rgb(182, 216, 245);
    }
    .mission-words{
        width: 90%;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
}


@media (max-width: 480px) {
    .aboutIntro-img{
        width: 100vw;
        height: 18rem;
        position: relative;
        filter: brightness(90%);
    }
    .aboutIntro-content{
        position: absolute;
        top: 6rem;
        left: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutIntro-content-1{
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 2px;
        text-align: center;
        color: #ffff;
        width: 80%;
    }
    .aboutIntro-content-2{
        font-size: 20px;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
        color: #ffff;
        letter-spacing: 3px;
        text-decoration: underline;
        text-underline-offset: 3px;
        margin-top: -12px;
    }
    .aboutIntro-con{
        background-color: aliceblue;
        padding: 0px 0px 50px 0px;
    }
    .aboutIntro-div-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutIntro-title{
        color: #ffff;
        background-color: darkblue;
        padding: 10px 40px;
        border-radius: 50px;
        box-Shadow: 5px 10px 10px #8888;
        font-size: 17px;
        margin-bottom: 25px;
    }
    .aboutIntro-words{
        text-align: center;
        width: 90vw;
        font-size: 16px;
    }
    .aboutIntro-div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .mission-con{
        width: 90vw;
        margin-bottom: 25px;
    }
    .mission-title{
        margin-left: 30px;
        font-size: 19px;
        color: darkblue;
    }
    .mission-icon{
        color: rgb(48, 48, 48);
        padding-left: 10px;
        margin-bottom: 9px;
        font-size: 40px;
    }
    .mission{
        border: 3px;
        border-radius: 30px;
        height: 16rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: -20px;
        box-Shadow: 5px 10px 10px #8888;
        padding-top: 15px;
        background-color:  rgb(182, 216, 245);
    }
    .mission-words{
        width: 90%;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
}