.nav-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 120px 20px 120px;
    box-Shadow: 5px -5px 10px #8888;
    background-color: #fff;
    height: 130px;
}
/* .header-left{
} */
.header-right{
    display: flex;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    padding: 0px 25px;
    font-size: 19px;
    font-weight: 500;
    color: rgba(15, 14, 14, 0.533);
}
.nav-btn{
    border: none;
    background-color: darkgreen;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin: 0px 0px 15px 25px;
}
.boot-nav{
  display: none;
}

@media (max-width: 768px) {
    .nav-con{
        display: none;
    }
    .boot-nav{
        display: unset;
    }
    .navbar-toggler{
        padding: 0px 0px 0px 0px;
    }
    .navbar-toggler-icon{
        font-size: 33px;
        margin-bottom: -10px;
    }
    .nav-links-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .nav-link{
        color: black;
        margin-top: 5px;
    }
    .hr-line{
        width: 90vw;
        margin-top: -5px;
    }
}



@media (max-width: 480px) {
    .nav-con{
        display: none;
    }
    .navbar-toggler{
        padding: 0px 0px 0px 0px;
    }
    .navbar-toggler-icon{
        font-size: 35px;
        margin-bottom: -10px;
    }
    .nav-links-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .nav-link{
        color: black;
        margin-top: 5px;
    }
    .hr-line{
        width: 90vw;
        margin-top: -5px;
    }
}
