
.AdminHome-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    background-color: black;
}
.admin-nav-words{
    text-align: center;
    color: #ffff;
}
.adminHome-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0px 0px 0px;
}
.adminHome-title{
    color: blue;
}
.map-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}
.allign-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
}
.allign-content-1{
    margin: 0px 10px;
    width: 25rem;
    White-Space: nowrap;
    Overflow: hidden;
    Text-overflow: ellipsis;
}
.allign-content-2{
    margin: 0px 20px;
}
.update-input{
    border-radius: 5px;
    height: 50px;
    width: 20rem;
    margin: 0px 10px;
    padding-left: 20px;
    border: 2px solid green;
}
.update-btn{
    text-align: center;
    width: 6rem;
    height: 40px;
    color: #ffff;
    background-color: blue;
    border-radius: 5px;
    margin: 0px 10px;
}
.update-btn:focus{
    background-color: rgb(81, 81, 190);
}
.delete-btn{
    text-align: center;
    width: 6rem;
    height: 40px;
    color: #ffff;
    background-color: red;
    border-radius: 5px;
    margin: 0px 10px;
}
.adminHome-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px 0px 0px;
}
.adminHome-tabs-li{
    color: #ffff;
    background-color: darkgreen;
    width: 120px;
    padding: 7px 0px;
    margin: 0px 20px;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}
.adminHome-tabs-li:active{
    background-color: #fff;
    color: #0000;
    border: 2px solid darkgreen;
}
.adminHome-tabs-li:focus{
    background-color: #fff;
    color: black;
    border: 2px solid darkgreen;
}
@media (max-width: 768px) {
    .AdminHome-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .admin-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
        background-color: black;
    }
    .admin-nav-words{
        text-align: center;
        color: #ffff;
    }
    .adminHome-title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 30px 0px 0px 0px;
    }
    .adminHome-title{
        color: blue;
    }
    .map-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-title{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 600;
    }
    .allign-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0px;
    }
    .allign-content-1{
        margin: 0px 5px;
        width: 20rem;
        White-Space: nowrap;
        Overflow: hidden;
        Text-overflow: ellipsis;
    }
    .allign-content-2{
        display: flex;
        margin: 0px 20px;
    }
    .update-input{
        border-radius: 5px;
        height: 40px;
        width: 15rem;
        margin: 0px 7px;
        padding-left: 20px;
        border: 2px solid green;
    }
    .update-btn{
        text-align: center;
        width: 5rem;
        height: 35px;
        color: #ffff;
        background-color: blue;
        border-radius: 5px;
        margin: 0px 10px;
    }
    .delete-btn{
        text-align: center;
        width: 6rem;
        height: 40px;
        color: #ffff;
        background-color: red;
        border-radius: 5px;
        margin: 0px 10px;
    }
    .adminHome-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 70px 0px 0px 0px;
    }
    .adminHome-tabs-li{
        color: #ffff;
        background-color: darkgreen;
        width: 100px;
        padding: 7px 0px;
        margin: 0px 20px;
        border-radius: 5px;
        text-align: center;
        list-style-type: none;
        cursor: pointer;
    }
    .adminHome-tabs-li:active{
        background-color: #fff;
        color: #0000;
        border: 2px solid darkgreen;
    }
    .adminHome-tabs-li:focus{
        background-color: #fff;
        color: black;
        border: 2px solid darkgreen;
    }

}
@media (max-width: 768px) {
    .AdminHome-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .admin-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
        background-color: black;
    }
    .admin-nav-words{
        text-align: center;
        color: #ffff;
    }
    .adminHome-title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 30px 0px 0px 0px;
    }
    .adminHome-title{
        color: blue;
    }
    .map-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-title{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 600;
    }
    .allign-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 15px 0px;
    }
    .allign-content-1{
        margin: 10px 0px;
        width: 20rem;
        White-Space: nowrap;
        Overflow: hidden;
        Text-overflow: ellipsis;
    }
    .allign-content-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0px 0px;
    }
    .update-input{
        border-radius: 5px;
        height: 40px;
        width: 18rem;
        margin: 10px 0px;
        padding-left: 20px;
        border: 2px solid green;
    }
    .update-btn{
        text-align: center;
        width: 5rem;
        height: 35px;
        color: #ffff;
        background-color: blue;
        border-radius: 5px;
        margin: 10px 0px;
    }
    .delete-btn{
        text-align: center;
        width: 6rem;
        height: 40px;
        color: #ffff;
        background-color: red;
        border-radius: 5px;
        margin: 0px 10px;
    }
    .adminHome-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 70px 30px 0px 0px;
    }
    .adminHome-tabs-li{
        color: #ffff;
        background-color: darkgreen;
        width: 100px;
        font-size: 12px;
        padding: 7px 0px;
        margin: 0px 10px;
        border-radius: 5px;
        text-align: center;
        list-style-type: none;
        cursor: pointer;
    }
    .adminHome-tabs-li:active{
        background-color: #fff;
        color: #0000;
        border: 2px solid darkgreen;
    }
    .adminHome-tabs-li:focus{
        background-color: #fff;
        color: black;
        border: 2px solid darkgreen;
    }

}
